#squareDiv {
	float:left;
	width:80vw;
	height:20vh;
	perspective:500px;
	perspective-origin:100% 40%;
	-webkit-perspective:500px;
	-webkit-perspective-origin:50% 350px;
}

#square {
	width: 500px;
	height: 500px;
	background-color: rgba(255,255,0,1);
	border: 1px solid black;
	transition-property: all;
	transition-duration: 2s;
	transform-style: preserve-3d;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.7s;
	-webkit-transform-style: preserve-3d;
	margin:20vh auto;
	display: none;
}

#cube {
	transition-property: all;
	transition-duration: 2s;
	transform-style: preserve-3d;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.7s;
	-webkit-transform-style: preserve-3d;
	width:300px;
	margin:200px auto;
}

#cube div {
	width: 300px;
	height: 300px;
	background-color: rgba(250,40,120,0.5);
	position:absolute;
	border:1px solid black;
}

#face1 {	/* Fram */
	transform:matrix3d(1,0,0,0, 0,1,0,0, 0,0,1,0, 0,0,150,1); 
	-ms-transform:matrix3d(1,0,0,0, 0,1,0,0, 0,0,1,0, 0,0,150,1); 
    -webkit-transform:matrix3d(1,0,0,0, 0,1,0,0, 0,0,1,0, 0,0,150,1); 
}
		
#face2 {	/* Höger */
	transform:matrix3d(0,0,-1,0, 0,1,0,0, 1,0,0,-0, 150,0,0,1);
	-ms-transform:matrix3d(0,0,-1,0, 0,1,0,0, 1,0,0,-0, 150,0,0,1);
	-webkit-transform:matrix3d(0,0,-1,0, 0,1,0,0, 1,0,0,-0, 150,0,0,1);
}

#face3 {	/* Bak */
	transform:matrix3d(1,0,0,0, 0,1,0,0, 0,0,1,0, 0,0,-150,1);
	-ms-transform:matrix3d(1,0,0,0, 0,1,0,0, 0,0,1,0, 0,0,-150,1);
	-webkit-transform:matrix3d(1,0,0,0, 0,1,0,0, 0,0,1,0, 0,0,-150,1);
}

#face4 {	/* Vänster */
	transform:matrix3d(0,0,1,0, 0,1,0,0, -1,0,0,0, -150,0,0,1);
	-ms-transform:matrix3d(0,0,1,0, 0,1,0,0, -1,0,0,0, -150,0,0,1);
	-webkit-transform:matrix3d(0,0,1,0, 0,1,0,0, -1,0,0,0, -150,0,0,1);
}

#face5 {	/* Upp */
	transform:matrix3d(1,0,0,0, 0,0,-1,0, 0,1,0,0, 0,-150,0,1);
	-ms-transform:matrix3d(1,0,0,0, 0,0,-1,0, 0,1,0,0, 0,-150,0,1);
	-webkit-transform:matrix3d(1,0,0,0, 0,0,-1,0, 0,1,0,0, 0,-150,0,1);
}

#face6 {	/* Ner */
	transform:matrix3d(1,0,0,0, 0,0,1,0, 0,-1,0,0, 0,150,0,1);
	-ms-transform:matrix3d(1,0,0,0, 0,0,1,0, 0,-1,0,0, 0,150,0,1);
	-webkit-transform:matrix3d(1,0,0,0, 0,0,1,0, 0,-1,0,0, 0,150,0,1);
}
	
#inputDiv {
	z-index: 1000;
	position:relative;
	float:right;
	width:18vw;
}

#modeButtons {
	width: 130px;
	margin: 10vh auto;
}

#inputDiv .matrix {
	width:120px;
	margin: 10vh auto;
	position: relative;
}

#inputDiv .matrix button {
	width: 50px;
	margin:0 4px;
}

#inputDiv .matrix #submitButton {
	width: 112px;
	margin:4px;
}

#matrix2d{
	width:60px;
	margin: 0 auto;
}

#matrix3d{
	width:90px;
	margin: 0 auto;
}

#matrix4d{
	width:120px;
	margin: 0 auto;
}

#matrix2ddiv {
	display: none;
}

#matrix4ddiv {
	display: none;
}

input {
	width:30px;
	text-align: center;
}